
.footers{
   justify-content: space-between;
    align-items: center;
    color: white;
    background: black;
    text-align: center;
   
    
}


.footer__row{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    text-align: left;
}


.footers__col{
    padding: 30px;
    text-align: left;
}

.footer-logo p{
    padding: 10px;
}

.footer-logo  img{
    width: 200px;
}

/*------Media Query------*/

@media (max-width: 500px){
    footer{
        width: 105%;
    }
    .footers{
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 105;
    
    }
    .footer__row{
        display: flex;
        flex-direction: column;
       text-align: left;
       margin: 30px;

    }
    .footer__col{
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .footer__col h1{
        font-size: 25px;
        opacity: 55%;

    }
}
